{% extends "index.html" %}

{% block content %}

<section style="text-align: center; margin-top: 2em">
<img src="https://avatars.githubusercontent.com/u/100399407?v=4" 
    alt="my github pic" 
    style="
    border-radius: 100%;
    height: 96px;
    width: 96px;
    border: .4em solid #bf0000;
    "
    />

<h1> Hi, I am <b class="highlight">Akasia</b></h1>

<p style="max-width: 20rem;margin: auto">a 2x year-old game developer and software artist based in Indonesia and the initiator of <a href="https://komputapedia.vercel.app">Komputapedia</a>.</p>
</section>

<h2 style="text-align: center">Journal</h2>
{% set section = get_section(path="t/_index.md") %}
<ul style="max-width: 21em;margin: auto;">
{% for page in section.pages %}
        <li class="post-title">
            <a href="{{ page.permalink }}">
                {{ page.title }}
            </a>
        </li>
{% endfor %}
</ul>
{% endblock content %}